* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.page_header {
    width: 100vw;
    height: 10vh;
    background-color: rgb(30, 49, 9);
    font-size: 1.7rem;


}

.logo-img {
    width: 140px;
    height: 80px;
    padding: 5px;
    position: absolute;
    top: 0;
    z-index: 2;

}

.tittle_page {
    width: 100vw;
    height: 10vh;
    padding: 5px;
    position: relative;
    text-align: center;
    font-family: fantasy;
    color: rgb(88, 144, 88);
    font-size: 5rem;
    background-image: url(Images_proyect/logo.png);
    z-index: 2;

}

.nav {
    width: 100vw;
    display: inline-flex;
    position: absolute;
    align-items: center;
    top: 10%;
    justify-content: left;
    list-style-type: none;
}

.main_page {
    width: 100vw;
    height: 100vh;
    ;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.video-page {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
}

.all-content {
    width: 100vw;
    height: 100%;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.product {
    width: 40vw;
    height: 90vh;
    background-color: rgba(255, 166, 0, 0.238);
    border: orange solid;
    border-radius: 30px;
    position: absolute;
    top: 15%;
    left: 5%;
    padding: 20px;
    display: list-item;
    list-style-type: none;

}

.mesh {}

.closet {}

.door {}

.list-services {
    width: 40vw;
    height: 80vh;
    background-color: rgba(255, 166, 0, 0.238);
    border: orange solid;
    border-radius: 30px;
    position: absolute;
    top: 0%;
    left: 120%;
    padding: 20px;
    display: list-item;
    list-style-type: none;
}

.button-access-main {
    display: inline-flex;
    width: 100%;
    position: absolute;
    gap: 40px;
    align-items: center;
    justify-content: right;
    top: 3%;
    left: -2%;

}

.button-access {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background: rgb(88, 144, 88);
    color: #fff;
    font-family: fantasy;
    font-size: 10px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

.button-access span {
    transition: .4s ease-in-out all;
    position: relative;
    right: 8%;
}

.icono {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    left: -42px;
    color: rgba(56, 64, 62);
    transition: .3s ease-in-out all;
    opacity: 0;
}

.button-access:hover {
    background: orange;
}

.button-access:hover .icono {
    left: calc(100% - 50px);
    opacity: 1;



}


.button-access:hover span {
    right: 40px;
}



.footer {
    width: 100vw;
    height: 15vh;
    position: absolute;
    align-items: end;
    justify-content: end;
    background: rgba(56, 64, 62);


}